.header{
   height: 55px; 

   display: flex;
   flex-direction: row;
   justify-content: space-between;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: white;
   border-bottom-width: 1px;
   border-style: solid;
   border-color: rgb(229, 229, 229);
   z-index: 100;
}

.leftSection{
 display: flex;
 align-items: center;
}
.middleSection{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.searchBar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}
.searchBar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.searchBtn{
    height: 40px;
    width: 66px;
    background-color: rgb(228, 228, 228);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;

    
}

.searchBtn, .voiceSearchBtn, .uploadIconContainer, .youtubeAppsContainer, .notificationIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchBtn .toolTip, .voiceSearchBtn .toolTip, .uploadIconContainer .toolTip, .youtubeAppsContainer .toolTip, .notificationIconContainer .toolTip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.searchBtn:hover .toolTip, .voiceSearchBtn:hover .toolTip, .uploadIconContainer:hover .toolTip, .youtubeAppsContainer:hover .toolTip, .notificationIconContainer:hover .toolTip {
    opacity: 1;
}



.searchIcon{
    height: 25px;
  
}
.voiceSearchBtn{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(231, 231, 231);
}
.voiceSearchIcon{
    height: 24px;
 
}
.rightSection{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.hamburgerMenu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtubeLogo{
    height: 20px;
}
.uploadIcon{
    height: 24px;
}
.youtubeAppsIcon{
    height: 24px;
}
.notificationIcon{
    height: 24px;
}
.notificationIconContainer{
    position:relative;
}
.notificationCount{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(204, 26, 26);
    color: white;
    border-radius: 10px;
    font-family: Roboto, Arial;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.currentUserPicture{
    height: 32px;
    width: 32px;
    border-radius: 16px;
}