.sideBar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left:0;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebarLink{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebarLink:hover{
    background-color: rgb(235, 235, 235);
}

.sidebarLink img {
    height: 24px; 
    margin-bottom: 4px;
}
.sidebarLink div{
    font-family: Roboto, Arial;
    font-size: 10px;
}